# This is a basic workflow to help you get started with Actions

name: Widget Tests

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  tests:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: beta
      - run: dart format --set-exit-if-changed lib/
      - run: dart format --set-exit-if-changed example/lib/
      - run: flutter pub get
      - run: flutter analyze
      - run: dart pub global activate coverage
      - run: flutter test --coverage
      - run: bash <(curl -s https://codecov.io/bash) -f coverage/lcov.info
